body{
    background: linear-gradient(to right,rgb(189, 189, 189),rgb(230, 230, 230));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#box{
    height: 80%;
    width: 80%;
    background-color: white;
    position: fixed;
    top: 20%;
    left: 10%;
    border-radius: 15px;
}
#myname{
    font-size: 100px;
    height: 80%;
    width: 80%;
    position: relative;
    top: 10%;
    left: 10%;
}
#mypic{
    height: 500px;
    width: 500px;
    position: fixed;
    bottom: 0%;
    right: 15%;
}
#sbar{
    display: flex;
    padding: 10px;
    margin-top: -10px;
    margin-left: -10px;
    width: 120%;
    height: 100px;
    background-color: rgb(255, 255, 255);
}
#page2{
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 54px;
    transition: background-color 0.2s ease;
    border-radius: 15px;
}
#page2:hover{
    background-color: rgb(157, 157, 157);
}